<!DOCTYPE html>
<html>  
  <head>
    <title>Raizadaco Careers</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit: cover;
      }

    </style>
  </head>
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">Raizadaco Careers</h1>
      <img class="img-fluid" id="banner" src="https://raizadaco-careers-website.raizadaco.repl.co/static/banner.jpg">
      <h2 class="text-center mt-2 mb-4">About Raizadaco</h2>
      <p class="lead">Raizadaco is dedicated to assisting individuals in discovering their ideal career path. We provide comprehensive assessments, personalized guidance, and resources to help individuals explore their interests, skills, and values. By understanding their unique strengths and passions, we aim to empower individuals to make informed decisions and find fulfillment in their professional lives.</p>
      <h2 class="text-center mt-2 mb-4">Open Positions</h2>
      <p>TODO - Show the jobs here</p>
    <div class="text-center">
      <button class="btn btn-primary btn-lg">Contact Us</button>
    </div>
  </body>
</html>